body {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 18px;
    color: #15ec01;
    background: #5c6b3f url(nysha1.jpg) no-repeat 100% 0;
  }
  
  h1 {
    width: 260px;
    font-family: "Georgia", serif;
    font-size: 40px;
    line-height: 36px;
    color: #0e380a;
  }
  
  h2 {
    padding-bottom: 17px;
    border-bottom: 1px solid #cccccc;
    color: #15ec01;
  }

  h3 {
    font-family: "Georgia", serif;
    font-size: 30px;
    line-height: 0px;
    color: #0e380a;
  }
  
  .site-header {
    margin-bottom: 100px;
  }
  
  .skills-item {
    margin-bottom: 15px;
    padding-left: 50px;
    border-left: 20px solid #f19a7f;
    color: #15ec01;
  }
  
  .standart {
    border-color: #da6f32;
    color: #15ec01;
  }
  
  .vip {
    border-color: #f33607;
    color: #15ec01;
  }
  
  .container {
    width: 580px;
    margin: 0 aut;
    color: #0f380a;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .feature-kitten {
    padding-top: 60px;
    background-image: url("bottle.svg");
    color: #15ec01;
  }
  
  .feature-cat {
    padding-top: 60px;
    background-image: url("cat.svg");
    color: #15ec01;
    
  }
  
  .feature-train {
    padding-top: 60px;
    background-image: url("whistle.svg");
    color: #15ec01;
  }
  
  .skills-list {
    padding: 0;
    list-style: none;
    padding-bottom: 14px;
    border-bottom: 1px solid #cccccc;
  }
  
  .site-footer {
    display: flex;
    justify-content: space-between;
    color: #15ec01;
  }